[submodule "Hello-Swift-UI"]
	path = Hello-Swift-UI
	url = https://github.com/SangWook16074/Hello-Swift-UI.git
[submodule "Customize-views-and-properties"]
	path = Customize-views-and-properties
	url = https://github.com/SangWook16074/Customize-views-and-properties.git
[submodule "Design-an-interface"]
	path = Design-an-interface
	url = https://github.com/SangWook16074/Design-an-interface.git
[submodule "Update-UI-with-State"]
	path = Update-UI-with-State
	url = https://github.com/SangWook16074/Update-UI-with-State.git
[submodule "PickaPal"]
	path = PickaPal
	url = https://github.com/SangWook16074/PickaPal.git
